---
import BaseLayout from "../../layout/BaseLayout.astro";
import { formatTanggalID } from "../../helper/date";
const urlPublik = import.meta.env.URL_STORAGE;
const slug = Astro.params.slug;
const projek = await fetch(
  new URL("/controller/detail_projek?slug=" + slug, Astro.url),
  {
    headers: {
      cookie: Astro.request.headers.get("cookie") ?? "",
    },
  }
);

const detailProjek = (await projek.json().catch(() => null)) ?? [];

const kategori = await fetch(
  new URL("/controller/kategori?publik=true", Astro.url),
  {
    headers: {
      cookie: Astro.request.headers.get("cookie") ?? "",
    },
  }
);

console.log(detailProjek);
const currentUrl = new URL(`/artikel/${detailProjek.slug}`, Astro.url);
---

<BaseLayout>
  <div class="page-banner overlay">
    <picture class="media media-bg">
      <source
        media="(max-width: 575px)"
        srcset="assets/img/banner/page-banner-575.jpg"
      />
      <source
        media="(max-width: 991px)"
        srcset="assets/img/banner/page-banner-991.jpg"
      />
      <img
        src="/assets/img/banner/page-banner.jpg"
        width="1920"
        height="520"
        loading="eager"
        alt="Page Banner Image"
      />
    </picture>
    <div class="page-banner-content">
      <div class="container text-center">
        <h1 class="heading text-80 fw-700" data-aos="fade-up">Detail Projek</h1>
        <ul
          class="breadcrumb list-unstyled"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <li>
            <a href="index.html" class="text text-18" aria-label="Home Page">
              Beranda
            </a>
          </li>
          <li>
            <svg
              width="8"
              height="12"
              viewBox="0 0 8 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.08929 5.40903C7.24552 5.5653 7.33328 5.77723 7.33328 5.9982C7.33328 6.21917 7.24552 6.43109 7.08929 6.58736L2.37512 11.3015C2.29825 11.3811 2.2063 11.4446 2.10463 11.4883C2.00296 11.532 1.89361 11.5549 1.78296 11.5559C1.67231 11.5569 1.56258 11.5358 1.46016 11.4939C1.35775 11.452 1.2647 11.3901 1.18646 11.3119C1.10822 11.2336 1.04634 11.1406 1.00444 11.0382C0.962537 10.9357 0.941453 10.826 0.942414 10.7154C0.943376 10.6047 0.966364 10.4954 1.01004 10.3937C1.05371 10.292 1.1172 10.2001 1.19679 10.1232L5.32179 5.9982L1.19679 1.8732C1.04499 1.71603 0.960996 1.50553 0.962894 1.28703C0.964793 1.06853 1.05243 0.859522 1.20694 0.705015C1.36145 0.550508 1.57046 0.462868 1.78896 0.460969C2.00745 0.45907 2.21795 0.543066 2.37512 0.694864L7.08929 5.40903Z"
                fill="currentColor"></path>
            </svg>
          </li>
          <li>
            <a role="link" aria-disabled="true" class="text text-18 active">
              Detail projek
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Project Details -->
  <div class="page-project-details mt-100">
    <div class="container">
      <div class="project-media radius18" data-aos="fade-up">
        <img
          src={`${urlPublik}/${detailProjek.gambar}`}
          width="1200"
          height="537"
          loading="lazy"
          alt="Image"
        />
      </div>
    </div>
    <div class="container">
      <div class="project-details-content">
        <div class="grid grid-cols-12 lg:gap-1">
          <div class="lg:col-span-7 col-span-12">
            <div class="content-details-inner">
              <h2 class="heading text-50" data-aos="fade-up">
                {detailProjek.judul}
              </h2>
              <div set:html={detailProjek.projek} />
            </div>
          </div>
          <div class="lg:col-span-5 col-span-12">
            <div class="project-sidebar">
              <div
                class="sidebar-widget project-info radius18"
                data-aos="fade-up"
              >
                <h2 class="heading text-24">Informasi Projek</h2>
                <ul class="project-info-list list-unstyled">
                  <li class="project-info-item">
                    <div class="info-title heading text-18">Klien:</div>
                    <div class="info-data text text-16">
                      {detailProjek.klien}
                    </div>
                  </li>
                  <li class="project-info-item">
                    <div class="info-title heading text-18">Mulai Tanggal:</div>
                    <div class="info-data text text-16">
                      {formatTanggalID(detailProjek.start_tanggal)}
                    </div>
                  </li>
                  <li class="project-info-item">
                    <div class="info-title heading text-18">
                      Berakhir Tanggal:
                    </div>
                    <div class="info-data text text-16">
                      {formatTanggalID(detailProjek.end_tanggal)}
                    </div>
                  </li>
                  <li class="project-info-item">
                    <div class="info-title heading text-18">Owner:</div>
                    <div class="info-data text text-16">Private</div>
                  </li>
                  <li class="project-info-item">
                    <div class="info-title heading text-18">Kategori:</div>
                    <div class="info-data text text-16">
                      {detailProjek.kategori}
                    </div>
                  </li>
                  <li class="project-info-item">
                    <div class="info-title heading text-18">Website:</div>
                    <div class="info-data text text-16">
                      {detailProjek.link}
                    </div>
                  </li>
                </ul>
              </div>
              <!-- <div
                class="sidebar-widget service-contact radius18"
                data-aos="fade-up"
              >
                <div class="media media-bg overlay">
                  <img
                    src="assets/img/service/secvice-contact.jpg"
                    width="1000"
                    height="929"
                    loading="lazy"
                    alt="image"
                  />
                </div>
                <div class="service-contact-content">
                  <h2 class="heading text-36">
                    Contact with us <br />
                    for any advice
                  </h2>
                  <a
                    class="icon-contact"
                    href="tel:+12345.6789.333"
                    aria-label="Call us at +12345.6789.333 number"
                  >
                    <svg
                      width="44"
                      height="44"
                      viewBox="0 0 44 44"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M23.8337 3.67188C28.2097 3.67188 32.4066 5.41026 35.5009 8.50461C38.5953 11.599 40.3337 15.7958 40.3337 20.1719M23.8337 11.0052C26.2648 11.0052 28.5964 11.971 30.3155 13.6901C32.0346 15.4091 33.0003 17.7407 33.0003 20.1719M25.359 30.3799C25.7376 30.5538 26.1642 30.5935 26.5684 30.4925C26.9727 30.3915 27.3304 30.1559 27.5828 29.8244L28.2337 28.9719C28.5752 28.5165 29.0181 28.1469 29.5272 27.8923C30.0363 27.6377 30.5978 27.5052 31.167 27.5052H36.667C37.6395 27.5052 38.5721 27.8915 39.2597 28.5791C39.9473 29.2668 40.3337 30.1994 40.3337 31.1719V36.6719C40.3337 37.6443 39.9473 38.577 39.2597 39.2646C38.5721 39.9522 37.6395 40.3385 36.667 40.3385C27.9148 40.3385 19.5212 36.8618 13.3325 30.6731C7.14377 24.4844 3.66699 16.0907 3.66699 7.33854C3.66699 6.36608 4.0533 5.43345 4.74093 4.74582C5.42857 4.05818 6.3612 3.67188 7.33366 3.67188H12.8337C13.8061 3.67188 14.7387 4.05818 15.4264 4.74582C16.114 5.43345 16.5003 6.36608 16.5003 7.33854V12.8385C16.5003 13.4078 16.3678 13.9692 16.1132 14.4783C15.8587 14.9875 15.489 15.4303 15.0337 15.7719L14.1757 16.4154C13.8391 16.6724 13.6019 17.0379 13.5043 17.45C13.4067 17.8621 13.4548 18.2952 13.6403 18.6759C16.1459 23.765 20.2668 27.8807 25.359 30.3799Z"
                        stroke="#20282D"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                    <span class="visually-hidden"
                      >Call us at +12345.6789.333 number</span
                    >
                  </a>
                  <div class="contact-text text text-16">
                    Need help? Talk to an expert
                  </div>
                  <a
                    class="contact-number heading text-24"
                    href="tel:+12345.6789.333"
                    aria-label="Call us at +12345.6789.333 number"
                  >
                    +12345.6789.333
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
